.dropdown-button, .open .dropdown-button {
  height: 73px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .dropdown-button, .open .dropdown-button {
    height: 50px;
  }
}
.single, .dropdown-button > button {
  margin: 0;
  padding: 0 10px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.dropdown-button > button:hover, .dropdown-button > button:focus {
  background-color: transparent;
}
.down-arrow {
  border-top-color: #ffffff;
}
.open .dropdown-content {
  right: auto;
  left: 0;
  background-color: #1a1a1a;
}
