.dropdown-button, .open .dropdown-button {
  border: none;
  background-color: transparent;
  height: 73px;
  display: flex;
  align-items: center;
}
.dropdown-button > button {
  margin: 0;
  padding: 0 10px;
  color: #ffffff;
}
.down-arrow {
  border-top-color: #ffffff;
}
.open .dropdown-content {
  right: auto;
  left: 0;
  background-color: #1a1a1a;
}
