# (1) cp env-example .env
# (2) add your ENV overrides here
# (3) profit
LOCAL_ENV=true

# prx api
CMS_HOST=cms.staging.prx.tech
CMS_TTL=

# prx auth
AUTH_HOST=id.staging.prx.tech
# for metrics.prx.dev
AUTH_CLIENT_ID=ea0e04f7c85a8d4826dcf2747126a53a95014f51

# monitoring
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
GA_KEY=

# metrics
CASTLE_HOST=
