LOCAL_ENV=true

# dev server
PORT=4202
HOST=https://metrics.prx.test

# Castle
CASTLE_HOST=
CASTLE_TTL=

# ID
AUTH_HOST=id.staging.prx.tech
# for metrics.prx.dev
AUTH_CLIENT_ID=ea0e04f7c85a8d4826dcf2747126a53a95014f51
# for http://metrics.prx.docker
# AUTH_CLIENT_ID=brAFnuD1cMdct7FMyjrsErbCFFpAM4hGzZlyYA2X
# for https://metrics.prx.docker
# AUTH_CLIENT_ID=xd2ciUa93B3IsNGj7XIZ5w2Z8GkuJ3ei9SFg5Y5U

# monitoring
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
GA_KEY=

# Google Geochart API Key
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
