:host {
  display: flex;
}

button {
  border: 6px solid transparent;
  background-color: transparent;
}
button img {
  min-width: 24px;
  height: 24px;
}
button:hover {
  background-color: #f0f0f0;
}
button.active {
  background-color: #ddd;
}
