:host {
  display: flex;
}

button {
  border: 1px solid #a3a3a3;
  background-color: #f0f0f0;
}
button:first-child, button:nth-child(2) {
  border-right: 0px;
}
button img {
  min-width: 36px;
  height: 36px;
}
.active {
  background-color: #ddd;
}
