.open .dropdown-content {
  padding: 10px 0;
  right: auto;
  left: 0;
}

@media (max-width: 768px) {
  .dropdown {
    margin-left: -10px;
  }
  .dropdown-button > button {
    padding-left: 10px;
  }
}
