:host {
  display: flex;
  background-color: white;
}

.empty {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: white;
  border: 1px solid #a3a3a3;
  border-bottom-color: transparent;
  height: 38px;
}

metrics-chart-type {
  max-height: 38px;
}
