.dropdown-button {
  min-width: 36px;
}

.dropdown-button > button {
  border: 0px;
  max-width: 24px;
  max-height: 36px;
}

.buttons {
  text-align: right;
  margin-top: 20px;
}
.buttons > .btn-link {
  padding-right: 10px;
}

.invalid {
  margin-top: 10px;
  color: #ee4d3e;
  font-style: italic;
}
