.summary {
  display: flex;
  flex-direction: column;
}

.open .dropdown-content {
  margin-top: -38px;
  box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
  padding: 20px;
}

.intervals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.intervals > button {
  max-width: 100px;
  padding: 10px;
  border: 1px solid transparent;
}
.intervals > button:hover, .intervals > button:focus {
  background-color: #f0f0f0;
}
.intervals > button.active {
  background-color: #ddd;
  color: #1a1a1a;
}

.ranges {
  display: flex;
  align-items: flex-start;
}
.ranges > .separator {
  border-left: 1px solid #a3a3a3;
  width: 0px;
  height: 270px;
  margin: 1em;
}
.ranges > metrics-standard-date-range {
  align-self: flex-start;
  min-width: 285px;
}

@media (max-width: 1024px) {
  .ranges > .separator {
    display: none;
  }
  .ranges > metrics-standard-date-range {
    display: none;
  }
}

.pickers {
  position: relative;
  padding: 30px 0;
}
.pickers > .invalid {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.buttons {
  text-align: right;
}
.buttons > .btn-link {
  padding-right: 10px;
}

.invalid {
  margin-top: 10px;
  color: #ee4d3e;
  font-style: italic;
}
