:host {
  font-weight: 600;
}
.label {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 0.75em;
}
.value {
  font-size: 1.5em;
  line-height: 1.5em;
}
