.row {
  display: flex;
  border-top: 1px solid #ddd;
}
.row > * {
  flex-basis: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row > div:first-child {
  flex-basis: 40%;
  font-size: 0.8em;
}
.row.header {
  border-top: none;
}
.header > div {
  color: #818181;
  text-transform: uppercase;
  font-size: 0.8em;
}
.header:not(.other) > div:first-child {
  padding-left: 20px;
}
.row > div.charted, .row > div.charted  {
  background-color: #f0f0f0;
  padding: 0 20px;
}

.number {
  /*text-align: right;?*/
  white-space: nowrap;
}
.percent {
  color: #818181;
}
div.percent {
  display: none;
}

.other.header {
  margin-top: 20px;
}
.other.row:not(.header) > div:first-child {
  padding-left: 20px;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  span.percent {
    display: none;
  }
  div.percent {
    display: block;
  }
  .growth {
    display: none;
  }
  .row > div {
    flex-basis: calc(50% - 40px/2);
  }
  .row > div.charted {
    background-color: transparent;
    color: #818181;
    padding: 0 5px;
  }
  .number {
    color: #818181;
    text-align: right;
  }
}
