:host {
  display: block;
  width: 500px;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 360px);
  min-height: 200px;
  overflow-y: auto;
}
prx-spinner {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 25px;
  max-width: 25px;
  border-radius: 50%;
  background-color: #bebec2;
}
prx-checkbox {
  display: block;
  padding: 5px 0;
}
/* text-overflow ellipsis needs contrained width on parent */
prx-checkbox >>> label {
  width: 100%;
}
.title {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.pub-date {
  color: #727276;
}
