.dropdown-button, .open .dropdown-button {
  height: 73px;
  max-width: calc(100vw - 180px);
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .dropdown-button, .open .dropdown-button {
    height: 50px;
  }
}
.single, .dropdown-button > button {
  margin: 0;
  padding: 0 10px;
}
.dropdown-button > button:hover, .dropdown-button > button:focus {
  background-color: transparent;
}
.button-text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  max-width: calc(100% - 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.down-arrow {
  border-top-color: #ffffff;
}
.open .dropdown-content {
  right: auto;
  left: 0;
  background-color: #1a1a1a;
  z-index: 999999;/* zendesk widget + 1 */
}