/*
 * Authorization error
 */
.error {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 40px;
  line-height: 60px;
  margin-top: 20px;
}
p {
  font-size: 14px;
  display: inline-block;
  padding: 2px 8px;
}
