<prx-auth [host]="authHost" [client]="authClient"></prx-auth>
<prx-header>
  <div class="podcast-nav">
    <metrics-podcast-nav *ngIf="loggedIn"></metrics-podcast-nav>
    <metrics-episode-select></metrics-episode-select>
  </div>
  <prx-navuser *ngIf="loggedIn" [userinfo]="userinfo">
    <prx-spinner class="user-loading"></prx-spinner>
    <prx-image *ngIf="userImageDoc" class="user-loaded" [imageDoc]="userImageDoc"></prx-image>
  </prx-navuser>
</prx-header>
<main>
  <article>
    <metrics-nav-menu *ngIf="authorized"></metrics-nav-menu>
    <div class="content" [class.full-width]="!authorized">
      <router-outlet></router-outlet>
    </div>
  </article>
</main>
<prx-footer></prx-footer>
<prx-modal></prx-modal>
