prx-header {
  max-width: 100%;
}
prx-header >>> nav {
  flex-basis: calc(100% - 125px);
}
metrics-podcast-nav {
  margin-right: auto;
}
main {
  padding-bottom: 0px;
}

article {
  display: flex;
}

metrics-nav-menu {
  min-width: 250px;
  background-color: #f0f0f0;
}

.content {
  padding: 20px;
  max-width: calc(100% - 250px);
  min-height: 500px;
  flex-grow: 1;
  background-color: white;
}
.content.full-width {
  max-width: 100%;
  background-color: transparent;
}

@media (max-width: 768px) {
  article {
    flex-direction: column;
  }
  .content {
    padding: 10px;
    padding-top: 0px;
    max-width: 100%;
  }
}
