<div>
  <p *ngIf="isHourly"><em>Hourly data is shown in your local timezone</em></p>

  <div class="table-navigation">
    <metrics-episode-page
      [currentPage]="routerParams?.episodePage"
      [totalPages]="totalPages"
      (pageChange)="pageChange.emit($event)">
    </metrics-episode-page>
  </div>

  <metrics-downloads-summary-table
    [metricsType]="routerParams?.metricsType"
    [chartType]="routerParams?.chartType"
    [podcastTableData]="podcastTableData"
    [episodeTableData]="episodeTableData"
    (toggleChartPodcast)="toggleChartPodcast.emit({id: routerParams?.podcastId, charted: $event})"
    (toggleChartEpisode)="onToggleChartEpisode($event)"
    (chartSingleEpisode)="onChartSingleEpisode($event)">
  </metrics-downloads-summary-table>
</div>
