.picker {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

/* this belongs in the styleguide, just too many unknowns on global invalid/changed
 https://github.com/PRX/styleguide.prx.org/issues/30
 https://github.com/PRX/publish.prx.org/issues/211
 https://github.com/PRX/publish.prx.org/issues/111
 https://github.com/PRX/publish.prx.org/issues/110
 */
.invalid {
  margin-top: 10px;
  color: #ee4d3e;
  font-style: italic;
}
