:host {
  flex-basis: 25%;
  padding-right: 5px;
  margin-left: 5px;
  min-width: 0;
}
@media (max-width: 768px) {
  :host {
    display: none;
  }
}
nav {
  background-color: white;
  min-height: 400px;
  padding-top: 20px;
}
button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 5px 30px;
  font-size: 1.2em;
  white-space: nowrap;
  background-color: transparent;
  color: #0089bd;
}
button:hover, button:focus, button.active {
  background-color: #ddd;
  color: #0070a1;
}
