:host {
  flex-basis: 25%;
  min-width: 0;
}
@media (max-width: 768px) {
  :host {
    display: none;
  }
}
nav {
  padding: 40px 0px;
}
button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  color: #1a1a1a;
}
button:hover, button:focus, button.active {
  color: #0070a1;
}
button > .icon {
  min-width: 2em;
  width: 2em;
  height: 2em;
}
button > .text {
  padding-left: 10px;
}
