:host {
  padding: 40px 20px 20px 0px;
  display: flex;
}

.content {
  max-width: calc(100% - 200px);
  flex-grow: 1;
}

@media (max-width: 768px) {
  :host {
    padding: 0 10px 10px 10px;
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
}
