<div>
  <p *ngIf="routerState?.interval === bindToIntervalHourly"><em>Hourly data is shown in your local timezone</em></p>

  <div class="table-navigation">
    <button (click)="toggleExpandedReport.emit()" class="btn-link">
      <p *ngIf="!expanded">Show {{routerState.interval.key}} numbers &#187;</p>
      <p *ngIf="expanded">Hide {{routerState.interval.key}} numbers &#171;</p>
    </button>

    <metrics-episode-page
    [currentPage]="routerState?.page"
    [totalPages]="totalPages"
    (pageChange)="pageChange.emit($event)"></metrics-episode-page>
  </div>

  <div class="table-wrapper">
    <table class="sticky">
      <thead>
        <tr>
          <th>Episode</th>
          <th>Release Date</th>
          <th>Total for Range</th>
          <th>All-Time Downloads</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="podcastTableData">
          <td>
            <prx-checkbox *ngIf="showPodcastToggle; else podcastTitle"
              small [checked]="podcastTableData.charted" [color]="podcastTableData.color"
              (change)="toggleChartPodcast.emit($event)">{{podcastTableData.title}}</prx-checkbox>
            <ng-template #podcastTitle><span class="title">{{podcastTableData.title}}</span></ng-template>
          </td>
          <td></td>
          <td>{{podcastTableData.totalForPeriod | largeNumber}}</td>
          <td *ngIf="podcastTableData.allTimeDownloads !== undefined">{{podcastTableData.allTimeDownloads | largeNumber}}</td>
          <td *ngIf="podcastTableData.allTimeDownloads === undefined"></td>
        </tr>
        <tr *ngFor="let episode of episodeTableData">
          <td>
            <prx-checkbox *ngIf="showEpisodeToggles; else episodeTitle"
              small [checked]="episode.charted" [color]="episode.color"
                          (change)="toggleChartEpisode.emit({episdoeId: episode.id, charted: $event})"><span [title]="episode.title">{{episode.title}}</span></prx-checkbox>
            <ng-template #episodeTitle>
              <button class="btn-link title" (click)="chartSingleEpisode.emit(episode.id)" [title]="episode.title">{{episode.title}}</button>
            </ng-template>
          </td>
          <td>{{dateFormat(episode.publishedAt)}}</td>
          <td>{{episode.totalForPeriod | largeNumber}}</td>
          <td *ngIf="episode.allTimeDownloads !== undefined">{{episode.allTimeDownloads | largeNumber}}</td>
          <td *ngIf="episode.allTimeDownloads === undefined"></td>
        </tr>
      </tbody>
    </table>
    <div class="scroll-x-wrapper">
      <table class="scroll-x" *ngIf="expanded">
        <thead>
          <tr>
            <th *ngFor="let date of dateRange">{{date}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="podcastTableData">
            <td *ngFor="let download of podcastTableData.downloads">{{download.value | largeNumber}}</td>
          </tr>
          <tr *ngFor="let episode of episodeTableData">
            <td *ngFor="let download of episode.downloads">{{download.value | largeNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
