:host {
  position: relative;
  display: flex;
  padding: 40px 20px 10px 20px;
}
.controls {
  flex: 1 1 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.content {
  position: relative;
  flex: 7 7 70%;
  max-width: 70%;
}
.bar {
  width: 75%;
  padding: 0 40px;
  margin: 20px 0px;
  border: 1px solid #a3a3a3;
}
hr {
  margin: 20px 0px;
}
