.table-wrapper {
  display: flex;
  margin-left: -3px;
  margin-right: -3px;
}
table {
  line-height: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  vertical-align: middle;
  border: 3px solid #f0f0f0;
  background: white;
}
th {
  height: 45px;
  text-align: center;
}
td {
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

table.sticky th, table.sticky td {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.sticky th:first-child, table.sticky td:first-child {
  min-width: 200px;
  max-width: 200px;
  text-align: left;
}

.scroll-x-wrapper {
  flex-grow: 1;
  max-width: calc(100% - 500px);
  overflow-x: auto;
}
.scroll-x-wrapper > table {
  min-width: 100%;
}
table.scroll-x th {
  white-space: pre;
  min-width: 45px;
}
table.scroll-x th:first-child, table.scroll-x td:first-child {
  border-left: none;
}
.table-navigation {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin-top: 3px;
}
.table-navigation > button {
  text-align: left;
}
prx-checkbox {
  position: relative;
  margin-top: -4px;
  top: 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  text-align: left;
  margin-top: -2px;
  top: 2px;
}
