:host {
  display: flex;
  padding: 40px 20px 0px 20px;
}
prx-spinner >>> .spinner::before, prx-spinner >>> .spinner::after {
  z-index: 999;
}
.controls {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.content {
  flex: 4 4 80%;
}
.bar {
  width: 75%;
  padding: 0 40px;
  margin: 20px 0px;
  border: 1px solid #a3a3a3;
}
hr {
  margin: 20px 0px;
}

