:host {
  position: relative;
  display: flex;
  padding: 40px 20px 20px 20px;
  min-height: 600px;
}
.controls {
  flex-grow: 4;
  flex-shrink: 2;
  flex-basis: 20%;
  padding-right: 20px;
}
.content {
  flex-grow: 8;
  flex-shrink: 6;
  flex-basis: 80%;
  max-width: 80%;
}
@media only screen
and (max-device-width: 1024px) {
  .content {
    max-width: 70%
  }
}
@media only screen
and (max-device-width: 768px)
and (min-device-width: 569px) {
  .content {
    max-width: 60%
  }
}
@media only screen
and (max-device-width: 568px) {
  :host {
    padding: 20px 10px 10px 10px;
    display: block;
  }
  .content {
    max-width: 100%;
  }
}
.error {
  color: #ee4d3e;
  font-style: italic;
}
metrics-downloads-chart {
  display: block;
  background-color: white;
}
