prx-spinner {
  position: relative;
  display: block;
  min-height: 48px;
}
prx-checkbox {
  width: 100%;
  padding: 5px 20px;
}
/* text-overflow ellipsis needs contrained width */
prx-checkbox >>> label {
  width: 100%;
}
prx-checkbox:hover, prx-checkbox:focus {
  background-color: #0089bd;
}
li {
  width: 100%;
  text-align: left;
}
.accumulator {
  padding: 5px 20px;
}
span, .title {
  color: white;
}
.pub-date {
  color: #bebebe;
}
.divider {
  height: 2px;
  margin: 5px 0;
  background-color: #bebebe;
}