.chart-container {
  position: relative;
  height: 320px;
}
metrics-geochart-map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

@media (max-width: 768px) {
  .chart-container {
    height: initial;
  }
  prx-spinner {
    display: block;
    height: 320px;
  }
}
