metrics-geochart-map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 320px;
}

@media (max-width: 768px) {
  metrics-geochart-map {
    height: initial;
  }
}
