doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title PRX Metrics
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/x-icon' href='/assets/images/favicon.ico')
    for style in css
      link(rel='stylesheet' href=style)
    if newRelicHeader
      != newRelicHeader
  body(margin: 0)
    metrics-root
      .empty(style='position:absolute;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;')
        h3(style='font-size:18px;font-weight:200;color:#bbb') Loading...
    script(type='text/javascript')
      != 'window.ENV=' + JSON.stringify(env)
    for script in js
      script(src=script)
